@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden; /* prevent sideways scroll */
  overflow-y: auto;   /* ALLOW vertical scroll */
}

